tjbot-cl-test.json
[{"id":"1e177ca6.c23143","type":"watson-text-to-speech","z":"f5c86787.db2df8","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"rfsLYaGGP40s","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream-fra.watsonplatform.net/text-to-speech/api","x":320,"y":480,"wires":[["77d3f1df.df45c"]]},{"id":"80e82aa1.dfe3a8","type":"inject","z":"f5c86787.db2df8","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":460,"wires":[["1e177ca6.c23143"]]},{"id":"77d3f1df.df45c","type":"function","z":"f5c86787.db2df8","name":"msg.payload = msg.speech;","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["491b1096.79869"]]},{"id":"491b1096.79869","type":"play audio","z":"f5c86787.db2df8","name":"","voice":"","x":830,"y":460,"wires":[]},{"id":"99192fce.4e88b","type":"microphone","z":"f5c86787.db2df8","name":"","x":150,"y":660,"wires":[["ac74b79f.33b188","9b288e7.ecba57"]]},{"id":"ac74b79f.33b188","type":"watson-speech-to-text","z":"f5c86787.db2df8","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"fr-FR","langhidden":"fr-FR","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"zW0j0CrCufw1","payload-response":false,"streaming-mode":false,"streaming-mute":true,"discard-listening":false,"default-endpoint":false,"service-endpoint":"https://stream-fra.watsonplatform.net/speech-to-text/api","x":400,"y":620,"wires":[["9b288e7.ecba57"]]},{"id":"44da9665.1db548","type":"inject","z":"f5c86787.db2df8","name":".wav url","topic":"","payload":"http://sd-2.archive-host.com/membres/up/102033098234604628/SpaceShuttle.wav","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":540,"wires":[["cc8bf415.bde438"]]},{"id":"9b288e7.ecba57","type":"debug","z":"f5c86787.db2df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","x":870,"y":660,"wires":[]},{"id":"cc8bf415.bde438","type":"watson-speech-to-text","z":"f5c86787.db2df8","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"zW0j0CrCufw1","payload-response":false,"streaming-mode":false,"streaming-mute":true,"discard-listening":false,"default-endpoint":false,"service-endpoint":"https://stream-fra.watsonplatform.net/speech-to-text/api","x":400,"y":560,"wires":[["9b288e7.ecba57"]]},{"id":"e8d00749.ec70c8","type":"debug","z":"f5c86787.db2df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":720,"wires":[]},{"id":"6e401915.2b1018","type":"camerapi-takephoto","z":"f5c86787.db2df8","filemode":"2","filename":"","filedefpath":"1","filepath":"/home/test.JPEG","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"cartoon","name":"","x":430,"y":720,"wires":[["e8d00749.ec70c8"]]},{"id":"85f007fa.710468","type":"inject","z":"f5c86787.db2df8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":740,"wires":[["6e401915.2b1018"]]},{"id":"e3fe505e.90f29","type":"inject","z":"f5c86787.db2df8","name":"CoW FloW","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":380,"wires":[["8a1f129a.9c796"]]},{"id":"8a1f129a.9c796","type":"file in","z":"f5c86787.db2df8","name":"","filename":"/usr/lib/libreoffice/share/gallery/sounds/cow.wav","format":"","chunk":false,"sendError":false,"x":480,"y":380,"wires":[["dc519646.2d5af8"]]},{"id":"dc519646.2d5af8","type":"play audio","z":"f5c86787.db2df8","name":"","voice":"","x":870,"y":380,"wires":[]},{"id":"c2dab7a.e460c48","type":"rpi-sensehat in","z":"f5c86787.db2df8","name":"","motion":false,"env":false,"stick":true,"x":120,"y":160,"wires":[["892d3d44.cd62d"]]},{"id":"892d3d44.cd62d","type":"debug","z":"f5c86787.db2df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":160,"wires":[]},{"id":"1217d912.46acb7","type":"inject","z":"f5c86787.db2df8","name":"party","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["f0598d39.b6c15"]]},{"id":"f0598d39.b6c15","type":"file in","z":"f5c86787.db2df8","name":"","filename":"/home/pi/Downloads/usher_original.mp3","format":"","chunk":false,"sendError":false,"x":440,"y":260,"wires":[["ab629194.d0ef5"]]},{"id":"ab629194.d0ef5","type":"play audio","z":"f5c86787.db2df8","name":"","voice":"","x":850,"y":260,"wires":[]},{"id":"60246e35.b2478","type":"inject","z":"f5c86787.db2df8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":840,"wires":[["56ae23fe.0850c4"]]},{"id":"3d4af2ce.bc0b5e","type":"speakerpi-output","z":"f5c86787.db2df8","choose":"filebased","filename":"/usr/lib/libreoffice/share/gallery/sounds/cow.wav","channels":"1","bitdepth":"16","samplerate":"11025","name":"Bluetooth headset/speaker","x":900,"y":900,"wires":[]},{"id":"56ae23fe.0850c4","type":"file in","z":"f5c86787.db2df8","name":"","filename":"/usr/lib/libreoffice/share/gallery/sounds/cow.wav","format":"","x":380,"y":840,"wires":[["bd13d6e1.e2ffc"]]},{"id":"bd13d6e1.e2ffc","type":"change","z":"f5c86787.db2df8","name":"","rules":[{"t":"set","p":"speech","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"filename","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":900,"wires":[["3d4af2ce.bc0b5e","f491f6d5.3c81d"]]},{"id":"64be5bcc.0a0e8c","type":"rpi-neopixels","z":"f5c86787.db2df8","name":"RGB LED","pixels":"1","bgnd":"","fgnd":"","wipe":"40","mode":"pcent","rgb":"rgb","x":760,"y":1060,"wires":[]},{"id":"36ce04bb.e2cc3c","type":"inject","z":"f5c86787.db2df8","name":"","topic":"","payload":"#FF0000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":980,"wires":[["64be5bcc.0a0e8c"]]},{"id":"f9840378.dead4","type":"inject","z":"f5c86787.db2df8","name":"","topic":"","payload":"green","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1020,"wires":[["64be5bcc.0a0e8c"]]},{"id":"62a04bd8.1f051c","type":"inject","z":"f5c86787.db2df8","name":"","topic":"","payload":"blue","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1060,"wires":[["64be5bcc.0a0e8c"]]},{"id":"22b404f0.bc4084","type":"inject","z":"f5c86787.db2df8","name":"","topic":"","payload":"black","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1100,"wires":[["64be5bcc.0a0e8c"]]},{"id":"9e257b5.41b6988","type":"inject","z":"f5c86787.db2df8","name":"","topic":"","payload":"white","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":1140,"wires":[["2b5300a5.8ad958"]]},{"id":"6eb1735c.0d8af4","type":"inject","z":"f5c86787.db2df8","name":"back","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":1220,"wires":[[]]},{"id":"8d555459.64964","type":"inject","z":"f5c86787.db2df8","name":"up","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":1260,"wires":[[]]},{"id":"6a9012db.667014","type":"inject","z":"f5c86787.db2df8","name":"forward","topic":"","payload":"95","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":1300,"wires":[[]]},{"id":"f003ec4a.d26ef","type":"rpi-sensehat out","z":"f5c86787.db2df8","name":"","x":770,"y":1400,"wires":[]},{"id":"3a9c509c.70635","type":"inject","z":"f5c86787.db2df8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":150,"y":1360,"wires":[["4a7495a2.bc21b4"]]},{"id":"aec00475.89feb","type":"rpi-sensehat in","z":"f5c86787.db2df8","name":"","motion":false,"env":true,"stick":true,"x":120,"y":1480,"wires":[["c28f9196.13a318"]]},{"id":"c28f9196.13a318","type":"debug","z":"f5c86787.db2df8","name":"","active":false,"console":"false","complete":"true","x":750,"y":1480,"wires":[]},{"id":"4e284097.ec845","type":"inject","z":"f5c86787.db2df8","name":"stop","topic":"","payload":"*,*,off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":1400,"wires":[["f003ec4a.d26ef"]]},{"id":"df352fda.eb6c98","type":"inject","z":"f5c86787.db2df8","name":"","topic":"","payload":"*,*,blue","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1440,"wires":[["f003ec4a.d26ef"]]},{"id":"43aedd39.ebd46c","type":"camerapi-takephoto","z":"f5c86787.db2df8","filemode":"1","filename":"test.png","filedefpath":"1","filepath":"/home/pi","fileformat":"png","resolution":"2","rotation":"180","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":450,"y":1560,"wires":[["d395ff5.dcea98"]]},{"id":"ed29259b.4e3a48","type":"inject","z":"f5c86787.db2df8","name":"Take pic","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":1560,"wires":[["43aedd39.ebd46c"]]},{"id":"d395ff5.dcea98","type":"debug","z":"f5c86787.db2df8","name":"","active":true,"console":"false","complete":"true","x":750,"y":1560,"wires":[]},{"id":"f491f6d5.3c81d","type":"debug","z":"f5c86787.db2df8","name":"","active":true,"console":"false","complete":"true","x":830,"y":860,"wires":[]},{"id":"dbcf141e.fc9c48","type":"inject","z":"f5c86787.db2df8","name":"record","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":130,"y":880,"wires":[["5441ec8e.2d7bd4"]]},{"id":"3c33c387.91e464","type":"inject","z":"f5c86787.db2df8","name":"stop","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":130,"y":920,"wires":[["5441ec8e.2d7bd4"]]},{"id":"5441ec8e.2d7bd4","type":"microPi","z":"f5c86787.db2df8","name":"microPi","filename":"/home/pi/audio/mic.wav","domain":"http://localhost:1880/getAudio","rate":"11025","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"1","silence":"5","debug":"false","mode":"","x":320,"y":900,"wires":[[],["bd13d6e1.e2ffc"],[]]},{"id":"4a7495a2.bc21b4","type":"function","z":"f5c86787.db2df8","name":"","func":"msg.payload = \"Hello\";\nmsg.color = \"255,20,147\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1360,"wires":[["f003ec4a.d26ef"]]},{"id":"2b5300a5.8ad958","type":"function","z":"f5c86787.db2df8","name":"","func":"msg.brightness =50;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1140,"wires":[["64be5bcc.0a0e8c"]]}]