tjbot-cl.json
[{"id":"8a6327d0.d35588","type":"switch","z":"9129215f.38dd","name":"","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"DOWN","vt":"str"},{"t":"eq","v":"ENTER","vt":"str"},{"t":"eq","v":"UP","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":580,"y":220,"wires":[["8f58efc3.0745f"],["78b8dcdb.0b1034"],["eb27d606.6531b8"],["e8dbda4a.ba9e68"],["d0c18e79.da43e"]]},{"id":"622b6327.8091ec","type":"debug","z":"9129215f.38dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":300,"wires":[]},{"id":"839687d0.b91bc8","type":"debug","z":"9129215f.38dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":980,"wires":[]},{"id":"7b2c5c74.4850b4","type":"camerapi-takephoto","z":"9129215f.38dd","filemode":"2","filename":"","filedefpath":"1","filepath":"/home/test.JPEG","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"cartoon","name":"","x":150,"y":1040,"wires":[["839687d0.b91bc8"]]},{"id":"9dcc9176.5d6ea","type":"inject","z":"9129215f.38dd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":50,"y":1140,"wires":[["7b2c5c74.4850b4"]]},{"id":"cf08f5bf.662948","type":"switch","z":"9129215f.38dd","name":"Click","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"error","vt":"str","case":true},{"t":"else"}],"checkall":"true","outputs":2,"x":920,"y":680,"wires":[[],["562e91f5.915","5bf2b4af.f0722c"]]},{"id":"3faf1575.ee08ea","type":"debug","z":"9129215f.38dd","name":"Print msg.result.images","active":true,"console":"false","complete":"result.images","x":1230,"y":860,"wires":[]},{"id":"f4a43102.22b76","type":"comment","z":"9129215f.38dd","name":"Did the text include a color?","info":"This flow requires the \nnode-red-node-pi-neopixel \nnpm package.","x":1340,"y":1080,"wires":[]},{"id":"5bf2b4af.f0722c","type":"file","z":"9129215f.38dd","name":"Save photo.jpg","filename":"/tmp/photo.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1240,"y":680,"wires":[]},{"id":"47eae9ba.ee3098","type":"comment","z":"9129215f.38dd","name":"Remember to keep the .jpg < 2MB","info":"","x":690,"y":760,"wires":[]},{"id":"e8f6e230.a1add","type":"comment","z":"9129215f.38dd","name":"Reload picture into Node-RED Dashboard","info":"<script>\n    window.location.reload(false); \n</script>","x":1150,"y":800,"wires":[]},{"id":"31d6f566.02a86a","type":"camerapi-takephoto","z":"9129215f.38dd","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"180","fliph":"1","flipv":"0","brightness":"60","contrast":"0","sharpness":"0","imageeffect":"none","name":"Take Pi Camera Photo","x":730,"y":680,"wires":[["cf08f5bf.662948","6c6c6550.341b9c","1d785b5e.7aa645"]]},{"id":"ec56b3b2.0b71d","type":"inject","z":"9129215f.38dd","name":"Test TJBot RaspPi Photo","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":480,"y":420,"wires":[["ad2764d5.f3b608"]]},{"id":"2d620796.019548","type":"comment","z":"9129215f.38dd","name":"Food Image Classification","info":"Can be triggered from the Dashboard button or pushing the SenseHAT joystick left","x":340,"y":880,"wires":[]},{"id":"86d224f4.33ff68","type":"comment","z":"9129215f.38dd","name":"Image General Classification","info":"Can be triggered from the Dashboard button or pushing the SenseHAT joystick right","x":350,"y":980,"wires":[]},{"id":"562e91f5.915","type":"base64","z":"9129215f.38dd","name":"Encode","x":1090,"y":760,"wires":[["26eb2691.b123fa"]]},{"id":"d7fef426.436078","type":"debug","z":"9129215f.38dd","name":"What did Watson find?","active":true,"console":"false","complete":"template","x":1320,"y":1040,"wires":[]},{"id":"d831b2e1.cd6e6","type":"ui_template","z":"9129215f.38dd","group":"9a20bfff.db8d1","name":"VisualAnalysis","order":1,"width":"10","height":"12","format":"<div ng-bind-html=\"msg.html\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1320,"y":960,"wires":[["685dfa40.b66bd4"]]},{"id":"6af8a119.f1c1a","type":"visual-recognition-v3","z":"9129215f.38dd","name":"","apikey":"259aaac23f90983aa7a4f808b865108b942a96a9","image-feature":"classifyImage","lang":"en","x":990,"y":960,"wires":[["3faf1575.ee08ea","858f3bf3.935868"]]},{"id":"858f3bf3.935868","type":"function","z":"9129215f.38dd","name":"Process Results","func":"if (typeof msg.result == 'undefined') {\n    msg.html = \"\"\n    return msg;\n}\n\n// Detect Face\nif (typeof msg.result.images[0].faces != 'undefined') {\n    var face = msg.result.images[0].faces[0];\n    if (face) {\n        msg.payload = face;\n        msg.payload.timestamp = Date.now();\n        msg.html= \"Watson found a \"+face.gender.gender + \" person\" +\" (with a score of \" + face.age.score +\" )\" +\", who is about \"+ face.age.min + \"-\"+ face.age.max + \" years old.\"+\" (with a score of \" + face.age.score +\" )\";\n\n    } else {\n        msg.html = \"Watson thinks there is nobody on the picture\";\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n            bestItem = i;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n//    say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n    say = say + \" Watson thinks this picture contains a \" + item +\".\";\n}\nmsg.payload =  say;\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.html=\"<style>h4 { text-align: center; margin: 10px; }\";\nmsg.html=msg.html+\"table {    width: 440px;    margin-top: 10px; }\";\nmsg.html=msg.html+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #FFFFFF; width: 50%;}\";\nmsg.html=msg.html+\".classifier {background-color: rgb(85,150,230);text-align: center;}\";\nmsg.html=msg.html+\".title { background-color:LightGrey;}</style>\";\n\nmsg.html=msg.html+\"<h2>\"+say+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.html = msg.html + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.html = msg.html + \"</table>\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":1040,"wires":[["d7fef426.436078","d831b2e1.cd6e6","4b5e3629.c28368"]]},{"id":"bd488d9a.f0e7f","type":"file in","z":"9129215f.38dd","name":"photo.jpg","filename":"/tmp/photo.jpg","format":"","sendError":true,"x":810,"y":960,"wires":[["6af8a119.f1c1a"]]},{"id":"4d4278ca.0c1ed8","type":"comment","z":"9129215f.38dd","name":"Countdown to take Photos from a Raspberry Pi Camera","info":"If you add a Raspberry Pi Camera to your TJBot,\nhe can \"see\" and take Photos through his \n\"eye\" cutout.\n\nThis Node-RED flow requires the\nnode-red-contrib-camerapi npm package.\n\nDon't forget to enable the Camera in the \nRaspberry Pi Configuration utility.\n\nThe camera can be controlled in 3 ways:\n- Moving the SenseHAT joystick up \n- From the botton on the dashboard\n- From the inject node in the flow\n\nA 5 second count down is started when a picture is requested - the countdown is shown on the SenseHAT LED","x":430,"y":300,"wires":[]},{"id":"46c99359.27da5c","type":"change","z":"9129215f.38dd","name":"Classify Image","rules":[{"t":"set","p":"params.detect_mode","pt":"msg","to":"classify","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1020,"wires":[["bd488d9a.f0e7f"]]},{"id":"1d138290.6f1ddd","type":"change","z":"9129215f.38dd","name":"Custom Classify","rules":[{"t":"set","p":"params.detect_mode","pt":"msg","to":"classify","tot":"str"},{"t":"set","p":"params.classifier_ids","pt":"msg","to":"food","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":920,"wires":[["bd488d9a.f0e7f"]]},{"id":"5df860eb.a020c","type":"comment","z":"9129215f.38dd","name":"node-red-contrib-camerapi dependency","info":"This flow requires\n  node-red-contrib-camerapi\n\nYou can either \n  $ sudo npm -g install node-red-contrib-camerapi\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":710,"y":720,"wires":[]},{"id":"ced6245c.5df988","type":"comment","z":"9129215f.38dd","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson@0.5.10 or higher\nfor the following Watson nodes:\n  Visual Recognition\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":930,"y":880,"wires":[]},{"id":"4da05fb9.e2099","type":"comment","z":"9129215f.38dd","name":"Paste API keys for Visual Recognition","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Visual Recognition service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":940,"y":920,"wires":[]},{"id":"3d214e82.ad5292","type":"comment","z":"9129215f.38dd","name":"node-red-node-base64 dependency","info":"This flow requires\n  node-red-node-base64\n  \nYou can either \n  $ sudo npm -g install node-red-node-base64\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":1170,"y":720,"wires":[]},{"id":"1dd732a0.17f24d","type":"rpi-sensehat out","z":"9129215f.38dd","name":"","x":580,"y":620,"wires":[]},{"id":"b30f63e0.d6574","type":"change","z":"9129215f.38dd","name":"white","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":620,"wires":[["1dd732a0.17f24d","ef7fbeef.2ab04"]]},{"id":"6c6c6550.341b9c","type":"change","z":"9129215f.38dd","name":"black","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":640,"wires":[["7e8786.29d7187c"]]},{"id":"7e8786.29d7187c","type":"rpi-sensehat out","z":"9129215f.38dd","name":"","x":1100,"y":620,"wires":[]},{"id":"8ca04e03.878f9","type":"rpi-sensehat in","z":"9129215f.38dd","name":"","motion":false,"env":false,"stick":true,"x":330,"y":220,"wires":[["fdb616e1.8be288"]]},{"id":"fdb616e1.8be288","type":"rbe","z":"9129215f.38dd","name":"","func":"rbe","gap":"","start":"","inout":"out","x":460,"y":220,"wires":[["8a6327d0.d35588"]]},{"id":"8f58efc3.0745f","type":"switch","z":"9129215f.38dd","name":"LEFT joystick","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":180,"wires":[["5ac5a5d3.1e39ac"]]},{"id":"78b8dcdb.0b1034","type":"switch","z":"9129215f.38dd","name":"RIGHT joystick","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":220,"wires":[["68fc5d4.43b34a4"]]},{"id":"eb27d606.6531b8","type":"switch","z":"9129215f.38dd","name":"DOWN joystick","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":260,"wires":[["92636937.391068"]]},{"id":"2c2f4e83.1d86d2","type":"link in","z":"9129215f.38dd","name":"process photo","links":["905eae4a.14861"],"x":285,"y":620,"wires":[["b30f63e0.d6574"]]},{"id":"5ac5a5d3.1e39ac","type":"link out","z":"9129215f.38dd","name":"","links":["954dd04.a4a813","9b1e08db.3d70a"],"x":865,"y":180,"wires":[]},{"id":"68fc5d4.43b34a4","type":"link out","z":"9129215f.38dd","name":"","links":["cb85ae9.04bcd5"],"x":865,"y":220,"wires":[]},{"id":"905eae4a.14861","type":"link out","z":"9129215f.38dd","name":"","links":["2c2f4e83.1d86d2"],"x":1205,"y":520,"wires":[]},{"id":"cb85ae9.04bcd5","type":"link in","z":"9129215f.38dd","name":"Summarise_photo","links":["68fc5d4.43b34a4"],"x":545,"y":1060,"wires":[["46c99359.27da5c"]]},{"id":"ad2764d5.f3b608","type":"change","z":"9129215f.38dd","name":"camera icon","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,black,2-4,2,silver,0-6,3,silver,0-1,4,silver,5-6,4,silver,0-1,5,silver,3,5,white,5-6,5,silver,0-1,6,silver,5-6,6,silver,0-6,7,silver","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":360,"wires":[["e7964397.e52de","77d6823a.9c2afc"]]},{"id":"e7964397.e52de","type":"rpi-sensehat out","z":"9129215f.38dd","name":"","x":1300,"y":360,"wires":[]},{"id":"77d6823a.9c2afc","type":"delay","z":"9129215f.38dd","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":400,"wires":[["847fcde7.23275"]]},{"id":"847fcde7.23275","type":"change","z":"9129215f.38dd","name":"3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":400,"wires":[["e7964397.e52de","ef775eec.dc838"]]},{"id":"dde7ec60.c3986","type":"change","z":"9129215f.38dd","name":"2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":440,"wires":[["e7964397.e52de","802a9084.560fa"]]},{"id":"ef775eec.dc838","type":"delay","z":"9129215f.38dd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":440,"wires":[["dde7ec60.c3986"]]},{"id":"2fa2c150.014d4e","type":"change","z":"9129215f.38dd","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":480,"wires":[["e7964397.e52de","f9dfb6a2.172258"]]},{"id":"802a9084.560fa","type":"delay","z":"9129215f.38dd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":480,"wires":[["2fa2c150.014d4e"]]},{"id":"f9dfb6a2.172258","type":"delay","z":"9129215f.38dd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1090,"y":520,"wires":[["905eae4a.14861"]]},{"id":"db3a3144.940ee","type":"comment","z":"9129215f.38dd","name":"Capture the picture from the camera and save to local file","info":"The SenseHAT LED is lit white to provide additional light for the camera whilst the picture is being captured","x":440,"y":580,"wires":[]},{"id":"1d83db81.77cac4","type":"watson-speech-to-text","z":"9129215f.38dd","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-UK","langhidden":"en-UK","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"6GlyJxmfPmsh","payload-response":true,"streaming-mode":false,"streaming-mute":false,"discard-listening":false,"default-endpoint":false,"service-endpoint":"https://stream-fra.watsonplatform.net/speech-to-text/api","x":1450,"y":1300,"wires":[["214d39be.f3fce6","a3846872.d8dcd8","27f6af76.44f59"]]},{"id":"214d39be.f3fce6","type":"debug","z":"9129215f.38dd","name":"","active":true,"console":"false","complete":"transcription","x":1660,"y":1300,"wires":[]},{"id":"9fd14948.8948d8","type":"switch","z":"9129215f.38dd","name":"SelectColor","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"wave","vt":"str"},{"t":"cont","v":"yellow","vt":"str"},{"t":"cont","v":"red","vt":"str"},{"t":"cont","v":"blue","vt":"str"},{"t":"cont","v":"green","vt":"str"},{"t":"cont","v":"purple","vt":"str"},{"t":"cont","v":"pink","vt":"str"},{"t":"cont","v":"orange","vt":"str"},{"t":"cont","v":"party","vt":"str"},{"t":"cont","v":"weather","vt":"str"},{"t":"cont","v":"off","vt":"str"},{"t":"cont","v":"black","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":13,"x":400,"y":1780,"wires":[["c7f6d8c5.642bc8"],["6db4ce2a.382dd"],["cf4a53c.ab1bcb"],["50f6394e.c6c908"],["f94d24d4.dee778"],["b60f58ac.d8d348"],["5deee2fa.b1616c"],["9915b97d.b87f48"],["b3be4d6c.a00cb8","8de18853.b829c"],["ee81dbe6.f3d168"],["20630954.bb8fb6"],["20630954.bb8fb6"],["86aeca8d.36dee8"]]},{"id":"caca7a6e.d21748","type":"comment","z":"9129215f.38dd","name":"Wave arm, set LED Color or get the forecast","info":"","x":760,"y":1520,"wires":[]},{"id":"cf4a53c.ab1bcb","type":"change","z":"9129215f.38dd","name":"Red Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1640,"wires":[["c6415bdf.00f918"]]},{"id":"f94d24d4.dee778","type":"change","z":"9129215f.38dd","name":"Green Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1720,"wires":[["c6415bdf.00f918"]]},{"id":"50f6394e.c6c908","type":"change","z":"9129215f.38dd","name":"Blue Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1680,"wires":[["c6415bdf.00f918"]]},{"id":"6db4ce2a.382dd","type":"change","z":"9129215f.38dd","name":"Yellow Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1600,"wires":[["c6415bdf.00f918"]]},{"id":"b60f58ac.d8d348","type":"change","z":"9129215f.38dd","name":"Purple Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"238,130,238","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1760,"wires":[["c6415bdf.00f918"]]},{"id":"86aeca8d.36dee8","type":"change","z":"9129215f.38dd","name":"Off - Other","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":2020,"wires":[["c6415bdf.00f918"]]},{"id":"5deee2fa.b1616c","type":"change","z":"9129215f.38dd","name":"Pink Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,192,203","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1800,"wires":[["c6415bdf.00f918"]]},{"id":"a568b275.dbb58","type":"comment","z":"9129215f.38dd","name":"node-red-node-pi-neopixel dependency","info":"This flow requires the\n  node-red-node-pi-neopixel\nfor the Raspberry Pi NeoPixel GPIO node.\nYou can either \n  $ sudo npm -g install node-red-node-pi-neopixel\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":1290,"y":1760,"wires":[]},{"id":"4935aa24.aecfe4","type":"comment","z":"9129215f.38dd","name":"Paste API keys for Speech to Text","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Speech to Text service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":1510,"y":1260,"wires":[]},{"id":"f14daea9.153ba","type":"comment","z":"9129215f.38dd","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson\nfor the following Watson nodes:\n  Speech to Text\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":1510,"y":1220,"wires":[]},{"id":"e68e3f80.8390a","type":"change","z":"9129215f.38dd","name":"Forecast","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.forecast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":2060,"wires":[["b6d71332.fff2d"]]},{"id":"46cd2de2.a72db4","type":"watson-text-to-speech","z":"9129215f.38dd","name":"","lang":"fr-FR","langhidden":"fr-FR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"fr-FR_ReneeVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"rfsLYaGGP40s","payload-response":true,"default-endpoint":true,"service-endpoint":"http://stream-fra.watsonplatform.net/text-to-speech/api","x":1660,"y":1720,"wires":[["27e6c5e0.82d20a"]]},{"id":"ee81dbe6.f3d168","type":"wunderground","z":"9129215f.38dd","name":"","lon":"","lat":"","city":"Paris","country":"France","x":670,"y":2060,"wires":[["e68e3f80.8390a","b89d2491.13a8c8"]]},{"id":"b89d2491.13a8c8","type":"debug","z":"9129215f.38dd","name":"","active":true,"console":"false","complete":"payload.forecast","x":870,"y":2020,"wires":[]},{"id":"efe723fb.4119a","type":"comment","z":"9129215f.38dd","name":"Paste API keys for Text to Speech","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Text to Speech service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":1350,"y":1980,"wires":[]},{"id":"e843165f.fbad88","type":"comment","z":"9129215f.38dd","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson@0.5.10 or higher\nfor the following Watson nodes:\n  Text to Speech\n  Speech to Text\n  Tone Analyzer\n  Visual Recognition\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":1350,"y":1940,"wires":[]},{"id":"2f659176.09f18e","type":"comment","z":"9129215f.38dd","name":"node-red-node-weather-underground dependency","info":"This flow requires\n  node-red-node-weather-underground\n\nYou can either \n  $ sudo npm -g install node-red-node-weather-underground\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":780,"y":2100,"wires":[]},{"id":"61ee365c.3cdb08","type":"comment","z":"9129215f.38dd","name":"WeatherUnderground API","info":"Visit \n   https://www.wunderground.com/weather/api/\nto get yourself a free developer API key.","x":700,"y":2140,"wires":[]},{"id":"42cb99df.442bc8","type":"link in","z":"9129215f.38dd","name":"LED-output","links":["aeb60874.70fa68","f7e61843.fb83e8","c6415bdf.00f918","43234ec2.39058","7d248303.d2e3cc"],"x":1145,"y":1680,"wires":[["2205f98f.a6ca16"]]},{"id":"c6415bdf.00f918","type":"link out","z":"9129215f.38dd","name":"","links":["42cb99df.442bc8"],"x":845,"y":1760,"wires":[]},{"id":"24f60329.5254dc","type":"link in","z":"9129215f.38dd","name":"Analyse-input","links":["6daec41a.a6a1fc","11fbedea.53b722"],"x":265,"y":1780,"wires":[["9fd14948.8948d8","594ba12c.8ea9c"]]},{"id":"e592a23f.e20ec","type":"comment","z":"9129215f.38dd","name":"Analyse input","info":"","x":310,"y":1600,"wires":[]},{"id":"3de5b854.25dc88","type":"comment","z":"9129215f.38dd","name":"Analyse input","info":"","x":1820,"y":1460,"wires":[]},{"id":"a3846872.d8dcd8","type":"ui_text","z":"9129215f.38dd","group":"ce827618.aeec88","order":2,"width":0,"height":0,"name":"","label":"Microphone input : ","format":"{{msg.payload}}","layout":"row-spread","x":1660,"y":1340,"wires":[]},{"id":"52970a87.b6a994","type":"comment","z":"9129215f.38dd","name":"Controlling the mic","info":"The microphone can be controlled 3 different ways:\n- Hold down the joysick on the senseHAT\n- Slide the Dashboard switch to on\n- Use the record input nodes\n\nWhen the mic is recording the LED shows RED.\n\nThe mic needs to be stopped when finished speaking:\n- Release the joystick on the SenseHAT\n- Slide the Dashboard switch to off\n- Use the stop input node\n\nThe LED will turn off when recording stops","x":910,"y":1240,"wires":[]},{"id":"9915b97d.b87f48","type":"change","z":"9129215f.38dd","name":"Orange Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1840,"wires":[["c6415bdf.00f918"]]},{"id":"45a73a20.3d5234","type":"ui_text","z":"9129215f.38dd","group":"732f27e6.1a9148","order":2,"width":"8","height":"4","name":"","label":"Tweets output","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":1840,"wires":[]},{"id":"675a91ae.7395a","type":"link in","z":"9129215f.38dd","name":"English Output","links":["b6d71332.fff2d","cf186ae9.2ac7e8","75f9b86a.b822e8","2877fcf3.2a47c4","35273844.cb361"],"x":1145,"y":1860,"wires":[["45a73a20.3d5234","c0c90cd1.6aa25"]]},{"id":"b6d71332.fff2d","type":"link out","z":"9129215f.38dd","name":"","links":["675a91ae.7395a","1fd8d097.30aa6f"],"x":925,"y":2060,"wires":[]},{"id":"a92b69ae.a1ba48","type":"comment","z":"9129215f.38dd","name":"Pick a #hashtag to follow","info":"","x":290,"y":2260,"wires":[]},{"id":"d85b3fb5.60c5","type":"comment","z":"9129215f.38dd","name":"Wave arm when there are Joyful tweets","info":"","x":1260,"y":2560,"wires":[]},{"id":"29b0c1ea.279fbe","type":"comment","z":"9129215f.38dd","name":"Extract highest emotion","info":"","x":930,"y":2520,"wires":[]},{"id":"d656270d.71e688","type":"comment","z":"9129215f.38dd","name":"Blink the TJBot LED based on Twitter sentiment and wave his arm on Joyful tweets ","info":"","x":860,"y":2260,"wires":[]},{"id":"2877fcf3.2a47c4","type":"link out","z":"9129215f.38dd","name":"","links":["f3f52149.9280f8","675a91ae.7395a"],"x":725,"y":2420,"wires":[]},{"id":"d013ccfc.63564","type":"change","z":"9129215f.38dd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"},{"t":"set","p":"lan","pt":"msg","to":"lang","tot":"msg"},{"t":"set","p":"loc","pt":"msg","to":"location.place","tot":"msg"},{"t":"set","p":"user","pt":"msg","to":"tweet.user.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":2420,"wires":[["2877fcf3.2a47c4","317cd9ef.e784a6","5342385b.990fd8","ef5d3a6b.29a3a"]]},{"id":"98060bc.f234af8","type":"inject","z":"9129215f.38dd","name":"Happy test","topic":"","payload":"every one is awesome","payloadType":"str","repeat":"","crontab":"","once":false,"x":330,"y":2420,"wires":[["d013ccfc.63564"]]},{"id":"317cd9ef.e784a6","type":"watson-tone-analyzer-v3","z":"9129215f.38dd","name":"Analyze Tone","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","inputlang":"en","default-endpoint":false,"service-endpoint":"https://gateway-fra.watsonplatform.net/tone-analyzer/api","x":760,"y":2440,"wires":[["7187ed2b.0b3104","af35a980.dfa728"]]},{"id":"5342385b.990fd8","type":"debug","z":"9129215f.38dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":2380,"wires":[]},{"id":"b7ff831c.d112","type":"inject","z":"9129215f.38dd","name":"Sadness test","topic":"","payload":"This is miserable and sad","payloadType":"str","repeat":"","crontab":"","once":false,"x":340,"y":2460,"wires":[["d013ccfc.63564"]]},{"id":"5070f9d7.90c558","type":"inject","z":"9129215f.38dd","name":"Angry test","topic":"","payload":"I hate boring demos","payloadType":"str","repeat":"","crontab":"","once":false,"x":330,"y":2500,"wires":[["d013ccfc.63564"]]},{"id":"195ce2ed.3965ed","type":"function","z":"9129215f.38dd","name":"HighScore","func":"var emotions = [];\n/*emotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;*/\nemotions = msg.response.document_tone.tones;\n                    \n//rename tone_id to topic\nvar myscore =  0;     \nvar mynewmsg ={};\n//msg.payload = emotions;\nfor (var i=0; i<emotions.length; i++) {\n\n    if(emotions[i].score > myscore)\n    {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n //   node.send(msg);\n}\nmynewmsg = msg;\nreturn mynewmsg;","outputs":1,"noerr":0,"x":960,"y":2480,"wires":[["5648444c.d5282c","46812061.cc1a6","1153386b.9b7148","e3de043b.c40618"]]},{"id":"58da155f.f248ac","type":"debug","z":"9129215f.38dd","name":"Print msg.response","active":true,"console":"false","complete":"response","x":1100,"y":2400,"wires":[]},{"id":"5648444c.d5282c","type":"debug","z":"9129215f.38dd","name":"Score","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":1220,"y":2500,"wires":[]},{"id":"46812061.cc1a6","type":"switch","z":"9129215f.38dd","name":"SelectColor","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"},{"t":"eq","v":"Anger","vt":"str"},{"t":"eq","v":"Disgust","vt":"str"},{"t":"eq","v":"Analytical","vt":"str"},{"t":"eq","v":"Confident","vt":"str"},{"t":"eq","v":"Tentative","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":9,"x":900,"y":2700,"wires":[["fbc1a323.86a61","28e4c89e.f35c88"],["cf3bb713.93cf78"],["e6416a1f.228cb8"],["7748de6.b17d02"],["ef978f4f.e57c2"],["5eaa0171.aea6c8"],["c97220c9.c06fb8"],["c2a1ec2.c79da1"],["92c5396b.2f1a68"]]},{"id":"af35a980.dfa728","type":"debug","z":"9129215f.38dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","x":790,"y":2600,"wires":[]},{"id":"fbc1a323.86a61","type":"change","z":"9129215f.38dd","name":"Yellow Color - Joy","rules":[{"t":"set","p":"payload","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":2600,"wires":[["43234ec2.39058"]]},{"id":"cf3bb713.93cf78","type":"change","z":"9129215f.38dd","name":"Red Color - Fear","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":2640,"wires":[["43234ec2.39058"]]},{"id":"e6416a1f.228cb8","type":"change","z":"9129215f.38dd","name":"Blue Color - Sadness","rules":[{"t":"set","p":"payload","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":2680,"wires":[["43234ec2.39058","e5e89be.6289c68"]]},{"id":"7748de6.b17d02","type":"change","z":"9129215f.38dd","name":"Green Color - Anger","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":2720,"wires":[["43234ec2.39058"]]},{"id":"92c5396b.2f1a68","type":"change","z":"9129215f.38dd","name":"Off - Other","rules":[{"t":"set","p":"payload","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":2920,"wires":[["43234ec2.39058"]]},{"id":"77ac066d.93a7b8","type":"comment","z":"9129215f.38dd","name":"Twitter Analysis","info":"","x":310,"y":2220,"wires":[]},{"id":"43234ec2.39058","type":"link out","z":"9129215f.38dd","name":"","links":["42cb99df.442bc8"],"x":1445,"y":2680,"wires":[]},{"id":"bde29912.ac1a98","type":"link in","z":"9129215f.38dd","name":"Wave_arm","links":["c7f6d8c5.642bc8","28e4c89e.f35c88","d9b3ff31.17fbc","6555c595.4cf364","67618e47.e7da5"],"x":1145,"y":2080,"wires":[["57c88a9f.5ac244"]]},{"id":"28e4c89e.f35c88","type":"link out","z":"9129215f.38dd","name":"Wave Arm","links":["bde29912.ac1a98"],"x":1085,"y":2560,"wires":[]},{"id":"c7f6d8c5.642bc8","type":"link out","z":"9129215f.38dd","name":"Wave Arm","links":["bde29912.ac1a98"],"x":605,"y":1560,"wires":[]},{"id":"2ea24327.3489cc","type":"comment","z":"9129215f.38dd","name":"READ THIS BEFORE RUNNING THE DEMO","info":"Before you can run the demo, you to need to deploy, \nthen import Blumeix service credentials for the \nfollowing services in the appropriate nodes in this flow:\n- Text to Speech\n- Speech to Text\n- Visual Recognition\n- Tone Analysis\n- Conversation\n\nYou can also add a twitter API key and a Weather \nUnderground API key to add twitter and weather components to the demo.\n","x":400,"y":120,"wires":[]},{"id":"5c10e3e7.f0064c","type":"comment","z":"9129215f.38dd","name":"Wave arm","info":"W","x":1190,"y":2040,"wires":[]},{"id":"34abba11.d0ea96","type":"comment","z":"9129215f.38dd","name":"Speak text and output to dashboard","info":"","x":1270,"y":1800,"wires":[]},{"id":"4b01fc0f.7f7704","type":"comment","z":"9129215f.38dd","name":"Set LED colour","info":"","x":1210,"y":1640,"wires":[]},{"id":"15ed1c70.c2ee44","type":"comment","z":"9129215f.38dd","name":"This area of the flow controls some of TobyJnr's outputs","info":"","x":1340,"y":1600,"wires":[]},{"id":"794653b0.c238ac","type":"inject","z":"9129215f.38dd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":437.5,"y":2082,"wires":[["ee81dbe6.f3d168"]]},{"id":"e8dbda4a.ba9e68","type":"link out","z":"9129215f.38dd","name":"","links":["45b420fd.ba105"],"x":1185,"y":240,"wires":[]},{"id":"82b24e75.70ebe","type":"rpi-sensehat in","z":"9129215f.38dd","name":"","motion":false,"env":true,"stick":false,"x":330,"y":2860,"wires":[["75e8f078.0bc62"]]},{"id":"75e8f078.0bc62","type":"change","z":"9129215f.38dd","name":"","rules":[{"t":"set","p":"tempC","pt":"flow","to":"payload.temperature","tot":"msg"},{"t":"set","p":"tempF","pt":"flow","to":"msg.payload.temperature * 9/5 + 32","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2860,"wires":[[]]},{"id":"a1b77ee2.968d7","type":"comment","z":"9129215f.38dd","name":"Store current temperature in flow context","info":"","x":390,"y":2820,"wires":[]},{"id":"4baf5941.3d6998","type":"watson-conversation-v1","z":"9129215f.38dd","name":"TobyJnr Conversation","workspaceid":"9308a1be-eb1e-4823-90af-796de2e6e1bb","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-fra.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":610,"y":3060,"wires":[["560a68ce.841658","a98fea65.c62c78"]]},{"id":"560a68ce.841658","type":"switch","z":"9129215f.38dd","name":"Conversation Actions","property":"payload.output.action","propertyType":"msg","rules":[{"t":"eq","v":"CurrentTempCentigrade","vt":"str"},{"t":"eq","v":"CurrentTempFahrenheit","vt":"str"},{"t":"eq","v":"CurrentWeather","vt":"str"},{"t":"eq","v":"changeColour","vt":"str"},{"t":"eq","v":"quit","vt":"str"},{"t":"eq","v":"party","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":7,"x":850,"y":3060,"wires":[["6879d58a.c73a8c"],["465b0c63.008be4"],["cb44f0af.37537"],["c6db6ace.1d3018","9213d15.277243"],["272086aa.24735a"],["cda41257.9ccce","a3c4942.8fb8b68"],["504c0eb2.1561c"]]},{"id":"d9193d9b.ea168","type":"inject","z":"9129215f.38dd","name":"","topic":"","payload":"Hi","payloadType":"str","repeat":"","crontab":"","once":false,"x":400,"y":3100,"wires":[["4baf5941.3d6998"]]},{"id":"60b5fc2b.713484","type":"inject","z":"9129215f.38dd","name":"","topic":"","payload":"Is it sunny outside","payloadType":"str","repeat":"","crontab":"","once":false,"x":360,"y":3140,"wires":[["4baf5941.3d6998"]]},{"id":"e3669d43.39cea","type":"inject","z":"9129215f.38dd","name":"","topic":"","payload":"bye","payloadType":"str","repeat":"","crontab":"","once":false,"x":400,"y":3180,"wires":[["4baf5941.3d6998"]]},{"id":"ab63aef.aa1305","type":"inject","z":"9129215f.38dd","name":"","topic":"","payload":"set colour to green","payloadType":"str","repeat":"","crontab":"","once":false,"x":360,"y":3220,"wires":[["4baf5941.3d6998"]]},{"id":"6879d58a.c73a8c","type":"template","z":"9129215f.38dd","name":"Centigrade","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.output.text.0}} {{flow.tempC}}, {{payload.output.text.1}}","output":"str","x":1100,"y":2960,"wires":[["25866035.a42e7"]]},{"id":"b487c675.497678","type":"inject","z":"9129215f.38dd","name":"","topic":"","payload":"What's the temp in C","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":3260,"wires":[["4baf5941.3d6998"]]},{"id":"272086aa.24735a","type":"change","z":"9129215f.38dd","name":"End conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"},{"t":"set","p":"inConversation","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":3120,"wires":[["30c25c8f.4b5c94","25866035.a42e7"]]},{"id":"465b0c63.008be4","type":"template","z":"9129215f.38dd","name":"Fahrenheit","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.output.text.0}} {{flow.tempF}}, {{payload.output.text.1}}","output":"str","x":1100,"y":3000,"wires":[["25866035.a42e7"]]},{"id":"c6db6ace.1d3018","type":"template","z":"9129215f.38dd","name":"Colour","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.output.text.0}}, {{payload.output.text.1}}","output":"str","x":1420,"y":3060,"wires":[["25866035.a42e7"]]},{"id":"9213d15.277243","type":"change","z":"9129215f.38dd","name":"output colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.entities[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":3080,"wires":[["7d248303.d2e3cc"]]},{"id":"f8ce8ea8.58bce","type":"wunderground","z":"9129215f.38dd","name":"","lon":"","lat":"","city":"Paris","country":"France","x":1250,"y":3040,"wires":[["823fb3a7.d6cb8"]]},{"id":"cb44f0af.37537","type":"change","z":"9129215f.38dd","name":"convData","rules":[{"t":"set","p":"convData","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":3040,"wires":[["f8ce8ea8.58bce"]]},{"id":"823fb3a7.d6cb8","type":"template","z":"9129215f.38dd","name":"format forecast","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{convData.output.text.0}} {{payload.weather}} with a temperature of {{payload.tempc}} centigrade, {{convData.output.text.1}}","output":"str","x":1450,"y":3020,"wires":[["25866035.a42e7"]]},{"id":"6837309b.0c6a9","type":"comment","z":"9129215f.38dd","name":"Have a conversation with Toby","info":"","x":360,"y":2960,"wires":[]},{"id":"585c2ad9.0eb3a4","type":"inject","z":"9129215f.38dd","name":"Temp F","topic":"","payload":"What's the temp in Fahrenheit","payloadType":"str","repeat":"","crontab":"","once":false,"x":320,"y":3300,"wires":[["4baf5941.3d6998"]]},{"id":"27f6af76.44f59","type":"switch","z":"9129215f.38dd","name":"Using Conversation?","property":"inConversation","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":1590,"y":1420,"wires":[["1d1b490c.0a4e47"],["9fd14948.8948d8"]]},{"id":"45b420fd.ba105","type":"link in","z":"9129215f.38dd","name":"Start conversation","links":["e8dbda4a.ba9e68"],"x":265,"y":3440,"wires":[["ecec2ba5.b33a38"]]},{"id":"ecec2ba5.b33a38","type":"change","z":"9129215f.38dd","name":"","rules":[{"t":"set","p":"inConversation","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":3440,"wires":[["9ad78da7.ff16"]]},{"id":"1d1b490c.0a4e47","type":"link out","z":"9129215f.38dd","name":"","links":["6101a0.be2cee6"],"x":1725,"y":1380,"wires":[]},{"id":"d4b99c0.3394968","type":"comment","z":"9129215f.38dd","name":"to conversation","info":"","x":1830,"y":1380,"wires":[]},{"id":"6101a0.be2cee6","type":"link in","z":"9129215f.38dd","name":"conversation","links":["1d1b490c.0a4e47"],"x":425,"y":3060,"wires":[["4baf5941.3d6998"]]},{"id":"594ba12c.8ea9c","type":"debug","z":"9129215f.38dd","name":"","active":true,"console":"false","complete":"false","x":400,"y":1900,"wires":[]},{"id":"504c0eb2.1561c","type":"change","z":"9129215f.38dd","name":"speak text","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":3160,"wires":[["25866035.a42e7"]]},{"id":"7d248303.d2e3cc","type":"link out","z":"9129215f.38dd","name":"to LED-output","links":["42cb99df.442bc8"],"x":1225,"y":3080,"wires":[]},{"id":"4064a031.d7781","type":"comment","z":"9129215f.38dd","name":"set LED","info":"","x":1300,"y":3080,"wires":[]},{"id":"25071a3c.922356","type":"comment","z":"9129215f.38dd","name":"Speak output","info":"","x":1680,"y":3060,"wires":[]},{"id":"30c25c8f.4b5c94","type":"change","z":"9129215f.38dd","name":"Clear LED panel","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":3160,"wires":[["a057bc7.1622f4"]]},{"id":"9ad78da7.ff16","type":"change","z":"9129215f.38dd","name":"conversation icon","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,black,3-5,0,silver,2,1,silver,4,1,silver,1,2,silver,3,2,silver,0,3-4,silver,2,3-4,silver,1,5,silver,3,5,silver,2,6,silver,4,6,silver,3-5,7,silver","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":3440,"wires":[["87801e49.be2ae"]]},{"id":"87801e49.be2ae","type":"rpi-sensehat out","z":"9129215f.38dd","name":"","x":820,"y":3440,"wires":[]},{"id":"a057bc7.1622f4","type":"rpi-sensehat out","z":"9129215f.38dd","name":"","x":1500,"y":3160,"wires":[]},{"id":"59edf016.f2639","type":"comment","z":"9129215f.38dd","name":"Start the conversation","info":"","x":330,"y":3400,"wires":[]},{"id":"2b9d6ac6.be7cc6","type":"comment","z":"9129215f.38dd","name":"Paste API keys for Tone Analyzer","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Tone Analyzer service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":660,"y":2540,"wires":[]},{"id":"7251e1be.c99aa","type":"comment","z":"9129215f.38dd","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson\nfor the following Watson nodes:\n  Speech to Text\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":670,"y":2500,"wires":[]},{"id":"cfb32c99.260b5","type":"comment","z":"9129215f.38dd","name":"Paste API keys for Conversation","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Conversation service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":640,"y":3160,"wires":[]},{"id":"a52e23ae.3a952","type":"comment","z":"9129215f.38dd","name":"node-red-node-watson dependency","info":"This flow requires the\n  node-red-node-watson\nfor the following Watson nodes:\n  Speech to Text\n\nYou can either \n  $ sudo npm -g install node-red-node-watson\n  and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":650,"y":3120,"wires":[]},{"id":"df6fae18.bd867","type":"comment","z":"9129215f.38dd","name":"to Set sensehat colour","info":"","x":1570,"y":2680,"wires":[]},{"id":"7e1daaf2.ad0f04","type":"comment","z":"9129215f.38dd","name":"Wave Arm","info":"","x":690,"y":1560,"wires":[]},{"id":"c0d45bc2.d63508","type":"comment","z":"9129215f.38dd","name":"Speak output","info":"","x":1020,"y":2060,"wires":[]},{"id":"2e9c8121.b729ae","type":"comment","z":"9129215f.38dd","name":"set LED colour","info":"","x":950,"y":1760,"wires":[]},{"id":"7a878a5f.b456f4","type":"comment","z":"9129215f.38dd","name":"analyze face","info":"","x":960,"y":180,"wires":[]},{"id":"b9ad03f.ee3e3","type":"comment","z":"9129215f.38dd","name":"Summarize photo","info":"","x":980,"y":220,"wires":[]},{"id":"f5e338f8.e7f7f8","type":"comment","z":"9129215f.38dd","name":"Start conversation","info":"","x":1300,"y":240,"wires":[]},{"id":"ce561c59.52caa","type":"comment","z":"9129215f.38dd","name":"Handle joystick","info":"","x":310,"y":180,"wires":[]},{"id":"48ab28e0.6106b8","type":"ui_button","z":"9129215f.38dd","name":"start Conversation","group":"ce827618.aeec88","order":1,"width":0,"height":0,"passthru":false,"label":"start conversation","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":340,"y":3480,"wires":[["ecec2ba5.b33a38"]]},{"id":"ef7fbeef.2ab04","type":"change","z":"9129215f.38dd","name":"Set file details","rules":[{"t":"set","p":"filemode","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"filename","pt":"msg","to":"photo.jpg","tot":"str"},{"t":"set","p":"filepath","pt":"msg","to":"/tmp","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":680,"wires":[["31d6f566.02a86a"]]},{"id":"e5c82f8a.ce4e9","type":"link in","z":"9129215f.38dd","name":"Countdown to take photo","links":["92636937.391068"],"x":565,"y":340,"wires":[["ad2764d5.f3b608"]]},{"id":"92636937.391068","type":"link out","z":"9129215f.38dd","name":"","links":["e5c82f8a.ce4e9"],"x":866,"y":260,"wires":[]},{"id":"6ce85080.21f3d","type":"comment","z":"9129215f.38dd","name":"Countdown then take photo","info":"","x":1010,"y":260,"wires":[]},{"id":"5ee26af9.d72164","type":"comment","z":"9129215f.38dd","name":"Take photo","info":"","x":1290,"y":520,"wires":[]},{"id":"cdbd27af.647b48","type":"ui_text_input","z":"9129215f.38dd","name":"","label":"Text input","group":"ce827618.aeec88","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":1370,"y":1420,"wires":[["27f6af76.44f59"]]},{"id":"20630954.bb8fb6","type":"change","z":"9129215f.38dd","name":"Black Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1880,"wires":[["c6415bdf.00f918"]]},{"id":"376cd01a.fbe01","type":"play audio","z":"9129215f.38dd","name":"","voice":"0","x":2010,"y":1660,"wires":[]},{"id":"27e6c5e0.82d20a","type":"function","z":"9129215f.38dd","name":"msg.payload = msg.speech;","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1800,"y":1660,"wires":[["376cd01a.fbe01"]]},{"id":"1d785b5e.7aa645","type":"debug","z":"9129215f.38dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":600,"wires":[]},{"id":"4f1413c5.01ddfc","type":"inject","z":"9129215f.38dd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":520,"wires":[["b30f63e0.d6574"]]},{"id":"e5e89be.6289c68","type":"debug","z":"9129215f.38dd","name":"","active":true,"console":"false","complete":"false","x":1520,"y":2600,"wires":[]},{"id":"685dfa40.b66bd4","type":"debug","z":"9129215f.38dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1790,"y":860,"wires":[]},{"id":"58dded8a.888984","type":"change","z":"9129215f.38dd","name":"Detect Faces","rules":[{"t":"set","p":"params.detect_mode","pt":"msg","to":"faces","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1100,"wires":[["bd488d9a.f0e7f"]]},{"id":"263cfd65.c24bf2","type":"comment","z":"9129215f.38dd","name":"Detect faces","info":"Can be triggered from the Dashboard button or pushing the SenseHAT joystick right","x":320,"y":1080,"wires":[]},{"id":"29a973f9.72086c","type":"ui_button","z":"9129215f.38dd","name":"","group":"732f27e6.1a9148","order":5,"width":0,"height":0,"passthru":false,"label":"Meuuuh button","color":"white","bgcolor":"black","icon":"fa-play","payload":"","payloadType":"str","topic":"","x":400,"y":3620,"wires":[["1c025427.100f4c"]]},{"id":"1c025427.100f4c","type":"file in","z":"9129215f.38dd","name":"","filename":"/usr/lib/libreoffice/share/gallery/sounds/cow.wav","format":"","chunk":false,"sendError":false,"x":750,"y":3560,"wires":[["df848c94.881ed"]]},{"id":"df848c94.881ed","type":"play audio","z":"9129215f.38dd","name":"","voice":"","x":1035,"y":3621,"wires":[]},{"id":"e3de043b.c40618","type":"ui_text","z":"9129215f.38dd","group":"732f27e6.1a9148","order":3,"width":"8","height":"1","name":"","label":"Current Tweet tone is  mostly","format":"{{msg.topic}}","layout":"row-spread","x":1570,"y":2420,"wires":[]},{"id":"1153386b.9b7148","type":"ui_text","z":"9129215f.38dd","group":"732f27e6.1a9148","order":4,"width":"8","height":"1","name":"","label":"With Score:","format":"{{msg.payload}}","layout":"row-spread","x":1520,"y":2460,"wires":[]},{"id":"752e4d87.80caf4","type":"debug","z":"9129215f.38dd","name":"","active":true,"console":"false","complete":"false","x":1440,"y":2340,"wires":[]},{"id":"d91424d4.1364a8","type":"switch","z":"9129215f.38dd","name":"","property":"response.document_tone.tones.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1160,"y":2300,"wires":[["752e4d87.80caf4","f6937d23.bef22"],["195ce2ed.3965ed","58da155f.f248ac"]]},{"id":"f6937d23.bef22","type":"function","z":"9129215f.38dd","name":"set to null","func":"msg.topic = \"N/A\";\nmsg.payload = \"N/A\";\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":2380,"wires":[["e3de043b.c40618","1153386b.9b7148"]]},{"id":"7187ed2b.0b3104","type":"switch","z":"9129215f.38dd","name":"","property":"response.document_tone.tones.length","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":980,"y":2300,"wires":[["f6937d23.bef22"],["d91424d4.1364a8"]]},{"id":"4b5e3629.c28368","type":"ui_template","z":"9129215f.38dd","group":"1e120a6d.6f2d76","name":"PhotoInit","order":2,"width":"12","height":"9","format":"<script type=\"text/javascript\">\n\n\n            \n       (function(scope) {\n            document.getElementById(\"image_bytes\").onload = function() {\n                var c=document.getElementById(\"myCanvas\");\n                var ctx=c.getContext(\"2d\");\n                var img=document.getElementById(\"image_bytes\");  \n                ctx.drawImage(img,0,0);  \n            }\n            console.log('Position 1');\n            console.dir(scope);\n            scope.$watch('msg.payload', function(data, oldData) {\n            var c=document.getElementById(\"myCanvas\");\n            var ctx=c.getContext(\"2d\");\n            var img=document.getElementById(\"image_bytes\");  \n            ctx.drawImage(img,0,0);  \n                console.log(\"msg.payload change\");\n                //console.dir(data);\n                if (data) {\n                    if(data.face_location) {\n                    console.log('Face location');\n                    fl = data.face_location;\n                    console.dir(fl);\n                    var canvas = document.getElementById('myCanvas');\n                    var context = canvas.getContext('2d');\n                    context.beginPath();\n                    context.rect(fl.left-10, fl.top-10, fl.width+20, fl.height+20);\n                    //context.rect(10,20,30,40);            \n                    context.lineWidth = 3;\n                    context.strokeStyle = 'yellow';\n                    context.stroke();\n                }}\n            });\n        })(scope);\n</script>\n\n<canvas id=\"myCanvas\" width=\"642\" height=\"460\" ></canvas>\n<img style=\"display: none !important\" id=\"image_bytes\" width=\"642\" height=\"460\" alt=\"Watson Image\" src=\"data:image/jpg;base64,{{msg.photo}}\"/>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1640,"y":760,"wires":[["685dfa40.b66bd4"]]},{"id":"f9125a3c.76dc38","type":"watson-text-to-speech","z":"9129215f.38dd","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"rfsLYaGGP40s","payload-response":true,"default-endpoint":true,"service-endpoint":"http://stream-fra.watsonplatform.net/text-to-speech/api","x":1730,"y":3160,"wires":[["b97cb7c8.54b308"]]},{"id":"b97cb7c8.54b308","type":"function","z":"9129215f.38dd","name":"msg.payload = msg.speech;","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":3120,"wires":[["466c2b00.201184"]]},{"id":"466c2b00.201184","type":"play audio","z":"9129215f.38dd","name":"","voice":"","x":2100,"y":3040,"wires":[]},{"id":"86a01c0a.a4f6a","type":"ui_text","z":"9129215f.38dd","group":"ce827618.aeec88","order":4,"width":"8","height":"4","name":"","label":"Chatbot Output:","format":"{{msg.payload}}","layout":"row-spread","x":1740,"y":3120,"wires":[]},{"id":"25866035.a42e7","type":"link out","z":"9129215f.38dd","name":"","links":["a9b9ea6.1ab7518"],"x":1585,"y":3060,"wires":[]},{"id":"a9b9ea6.1ab7518","type":"link in","z":"9129215f.38dd","name":"","links":["25866035.a42e7"],"x":1605,"y":3120,"wires":[["86a01c0a.a4f6a","f9125a3c.76dc38"]]},{"id":"296a57c5.bae2a8","type":"switch","z":"9129215f.38dd","name":"","property":"tweet.entities.media","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":2300,"wires":[["f0866281.e5afc"]]},{"id":"f0866281.e5afc","type":"debug","z":"9129215f.38dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.entities.media[0].image","x":800,"y":2220,"wires":[]},{"id":"57c88a9f.5ac244","type":"trigger","z":"9129215f.38dd","op1":"5","op2":"30","op1type":"str","op2type":"str","duration":"0.5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1260,"y":2080,"wires":[["dc4a82ef.557cb"]]},{"id":"dc4a82ef.557cb","type":"rpi-gpio out","z":"9129215f.38dd","name":"","pin":"26","set":"","level":"0","freq":"","out":"pwm","x":1430,"y":2080,"wires":[]},{"id":"d0c18e79.da43e","type":"switch","z":"9129215f.38dd","name":"UP joystick","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":300,"wires":[["2eba42ee.c5bb2e","34ef68fd.a623c"]]},{"id":"d9b3ff31.17fbc","type":"link out","z":"9129215f.38dd","name":"","links":["bde29912.ac1a98"],"x":1815,"y":540,"wires":[]},{"id":"8eadef12.90db6","type":"function","z":"9129215f.38dd","name":"Party!","func":"var count = flow.get('count') || 0;\n\nif( count < 20 ) {\n   // Generate a random color and set the NeoPixel LED\n    msg.payload = \"*,*,\"+'#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6); \n    count += 1;\n    flow.set('count',count);\n        msg.count = count;\n    return [msg,msg];\n} else {\n    count = 0;\n    flow.set('count',count);\n    return [msg,null];\n}\n","outputs":"2","noerr":0,"x":1520,"y":280,"wires":[["c34151c4.f4c7f"],["37d39d06.c14f42"]]},{"id":"37d39d06.c14f42","type":"delay","z":"9129215f.38dd","name":"","pauseType":"delay","timeout":"0.3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1540,"y":340,"wires":[["8eadef12.90db6","d9b3ff31.17fbc"]]},{"id":"c34151c4.f4c7f","type":"rpi-sensehat out","z":"9129215f.38dd","name":"","x":1640,"y":240,"wires":[]},{"id":"2eba42ee.c5bb2e","type":"file in","z":"9129215f.38dd","name":"","filename":"/home/pi/Downloads/usher_original.mp3","format":"","chunk":false,"sendError":false,"x":1500,"y":420,"wires":[["f6e45e5e.f7c09","f482dc63.5cd8d"]]},{"id":"f6e45e5e.f7c09","type":"play audio","z":"9129215f.38dd","name":"","voice":"","x":2040,"y":400,"wires":[]},{"id":"764775fe.1abe1c","type":"rpi-sensehat out","z":"9129215f.38dd","name":"","x":1390,"y":1680,"wires":[]},{"id":"2205f98f.a6ca16","type":"function","z":"9129215f.38dd","name":"","func":"msg.payload = \"*,*,\"+ msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1680,"wires":[["764775fe.1abe1c"]]},{"id":"26eb2691.b123fa","type":"change","z":"9129215f.38dd","name":"","rules":[{"t":"set","p":"photo","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"photo","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":760,"wires":[["4b5e3629.c28368"]]},{"id":"4fc74d13.d83954","type":"ui_button","z":"9129215f.38dd","name":"","group":"1e120a6d.6f2d76","order":5,"width":0,"height":0,"passthru":false,"label":"Ask Watson to Analyze this face","color":"","bgcolor":"","icon":"","payload":"{\"params\":{\"detect_mode\":\"face\"}}","payloadType":"json","topic":"","x":400,"y":1120,"wires":[["58dded8a.888984"]]},{"id":"64d16cb0.b28a04","type":"ui_button","z":"9129215f.38dd","name":"","group":"1e120a6d.6f2d76","order":3,"width":0,"height":0,"passthru":false,"label":"Ask Watson to Identify meals and food items","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":380,"y":920,"wires":[["1d138290.6f1ddd"]]},{"id":"da0fbdf.2d1fa4","type":"ui_button","z":"9129215f.38dd","name":"","group":"1e120a6d.6f2d76","order":4,"width":0,"height":0,"label":"Ask Watson to Summarize this Photo","color":"","bgcolor":"","icon":"","payload":"{\"params\":{\"detect_mode\":\"classify\"}}","payloadType":"json","topic":"","x":420,"y":1020,"wires":[["46c99359.27da5c"]]},{"id":"ba00927.d9cb07","type":"ui_button","z":"9129215f.38dd","name":"","group":"1e120a6d.6f2d76","order":1,"width":"0","height":"0","passthru":false,"label":"Take a TJBot Raspberry Pi Camera Photo","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":430,"y":380,"wires":[["ad2764d5.f3b608"]]},{"id":"4b06cbcc.d2df5c","type":"function","z":"9129215f.38dd","name":"Party!","func":"var count = flow.get('count') || 0;\n\nif( count < 20 ) {\n   // Generate a random color and set the NeoPixel LED\n    msg.payload = \"*,*,\"+'#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6); \n    count += 1;\n    flow.set('count',count);\n        msg.count = count;\n    return [msg,msg];\n} else {\n    count = 0;\n    flow.set('count',count);\n    return [msg,null];\n}\n","outputs":"2","noerr":0,"x":2090,"y":3280,"wires":[["ef4c0549.2e8ad"],["61c4d980.85fc9"]]},{"id":"61c4d980.85fc9","type":"delay","z":"9129215f.38dd","name":"","pauseType":"delay","timeout":"0.3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2110,"y":3340,"wires":[["4b06cbcc.d2df5c","6555c595.4cf364"]]},{"id":"ef4c0549.2e8ad","type":"rpi-sensehat out","z":"9129215f.38dd","name":"","x":2210,"y":3240,"wires":[]},{"id":"cda41257.9ccce","type":"file in","z":"9129215f.38dd","name":"","filename":"/home/pi/Downloads/usher_original.mp3","format":"","chunk":false,"sendError":false,"x":1590,"y":3440,"wires":[["45f46a52.16b51c","4eaeb152.52a7b"]]},{"id":"45f46a52.16b51c","type":"play audio","z":"9129215f.38dd","name":"","voice":"","x":2150,"y":3440,"wires":[]},{"id":"6555c595.4cf364","type":"link out","z":"9129215f.38dd","name":"","links":["bde29912.ac1a98"],"x":1615,"y":3520,"wires":[]},{"id":"ff6b71e7.e692","type":"ui_button","z":"9129215f.38dd","name":"","group":"732f27e6.1a9148","order":6,"width":0,"height":0,"passthru":false,"label":"Party","color":"white","bgcolor":"orange","icon":"fa-music ","payload":"","payloadType":"str","topic":"","x":1210,"y":3480,"wires":[["cda41257.9ccce","a3c4942.8fb8b68"]]},{"id":"4eaeb152.52a7b","type":"delay","z":"9129215f.38dd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1900,"y":3360,"wires":[["4b06cbcc.d2df5c"]]},{"id":"a3c4942.8fb8b68","type":"delay","z":"9129215f.38dd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1500,"y":3500,"wires":[["6555c595.4cf364"]]},{"id":"d8211d19.f2d458","type":"microphone","z":"9129215f.38dd","name":"","x":990,"y":1300,"wires":[["1d83db81.77cac4"]]},{"id":"e9b63517.e477a","type":"function","z":"9129215f.38dd","name":"Party!","func":"var count = flow.get('count') || 0;\n\nif( count < 20 ) {\n   // Generate a random color and set the NeoPixel LED\n    msg.payload = \"*,*,\"+'#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6); \n    count += 1;\n    flow.set('count',count);\n        msg.count = count;\n    return [msg,msg];\n} else {\n    count = 0;\n    flow.set('count',count);\n    return [msg,null];\n}\n","outputs":"2","noerr":0,"x":2630,"y":1760,"wires":[["9254d99c.bfe438"],["eff44822.3d8d3"]]},{"id":"eff44822.3d8d3","type":"delay","z":"9129215f.38dd","name":"","pauseType":"delay","timeout":"0.3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2650,"y":1820,"wires":[["e9b63517.e477a","67618e47.e7da5"]]},{"id":"9254d99c.bfe438","type":"rpi-sensehat out","z":"9129215f.38dd","name":"","x":2750,"y":1720,"wires":[]},{"id":"b3be4d6c.a00cb8","type":"file in","z":"9129215f.38dd","name":"","filename":"/home/pi/Downloads/usher_original.mp3","format":"","chunk":false,"sendError":false,"x":2130,"y":1920,"wires":[["edf0f11d.2988a8","a43ad20.ac336b"]]},{"id":"edf0f11d.2988a8","type":"play audio","z":"9129215f.38dd","name":"","voice":"","x":2690,"y":1920,"wires":[]},{"id":"67618e47.e7da5","type":"link out","z":"9129215f.38dd","name":"","links":["bde29912.ac1a98"],"x":2155,"y":2000,"wires":[]},{"id":"a43ad20.ac336b","type":"delay","z":"9129215f.38dd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2440,"y":1840,"wires":[["e9b63517.e477a"]]},{"id":"8de18853.b829c","type":"delay","z":"9129215f.38dd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2040,"y":1980,"wires":[["67618e47.e7da5"]]},{"id":"719ec688.2ddf","type":"comment","z":"9129215f.38dd","name":"Let's Party !","info":"","x":2110,"y":1800,"wires":[]},{"id":"a98fea65.c62c78","type":"debug","z":"9129215f.38dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":2940,"wires":[]},{"id":"c0c90cd1.6aa25","type":"switch","z":"9129215f.38dd","name":"","property":"lang","propertyType":"msg","rules":[{"t":"eq","v":"en","vt":"str"},{"t":"eq","v":"fr","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1490,"y":1800,"wires":[["de02dced.6fad78"],["46cd2de2.a72db4"],["de02dced.6fad78"]]},{"id":"ebbda4af.c22a7","type":"comment","z":"9129215f.38dd","name":"speaks french or english","info":"","x":1910,"y":1720,"wires":[]},{"id":"28ca3a76.933bde","type":"ui_template","z":"9129215f.38dd","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1940,"y":2400,"wires":[[]]},{"id":"441dc984.25a228","type":"ui_text","z":"9129215f.38dd","group":"732f27e6.1a9148","order":1,"width":0,"height":0,"name":"from where","label":"","format":" From {{msg.user}} in {{msg.loc}}","layout":"row-spread","x":1950,"y":2340,"wires":[]},{"id":"ef5d3a6b.29a3a","type":"function","z":"9129215f.38dd","name":"","func":"if (msg.loc === null){\n    msg.loc = \"somewhere\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":2360,"wires":[["441dc984.25a228"]]},{"id":"d1ee3c51.f9af98","type":"change","z":"9129215f.38dd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":2220,"wires":[[]]},{"id":"de02dced.6fad78","type":"watson-text-to-speech","z":"9129215f.38dd","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"6GlyJxmfPmsh","payload-response":false,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1700,"y":1840,"wires":[["27e6c5e0.82d20a"]]},{"id":"263a9af4.b14616","type":"twitter in","z":"9129215f.38dd","twitter":"","tags":"","user":"false","name":"","topic":"tweets","inputs":1,"x":260,"y":2340,"wires":[["f55093f7.f6a51"]]},{"id":"f55093f7.f6a51","type":"delay","z":"9129215f.38dd","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":2360,"wires":[["296a57c5.bae2a8","d013ccfc.63564"]]},{"id":"e0037be0.4431e8","type":"inject","z":"9129215f.38dd","name":"stop listenning","topic":"","payload":"","payloadType":"str","repeat":"180","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":2300,"wires":[["263a9af4.b14616"]]},{"id":"c8b8dfbe.a88e1","type":"inject","z":"9129215f.38dd","name":"","topic":"","payload":"#ibmcloud","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":2400,"wires":[["263a9af4.b14616"]]},{"id":"9b1e08db.3d70a","type":"link in","z":"9129215f.38dd","name":"Read_photo","links":["5ac5a5d3.1e39ac"],"x":635,"y":1080,"wires":[["58dded8a.888984"]]},{"id":"c2a1ec2.c79da1","type":"change","z":"9129215f.38dd","name":"Grey Color - Tentative","rules":[{"t":"set","p":"payload","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":2880,"wires":[["43234ec2.39058"]]},{"id":"c97220c9.c06fb8","type":"change","z":"9129215f.38dd","name":"Pink Color - Confident","rules":[{"t":"set","p":"payload","pt":"msg","to":"pink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":2840,"wires":[["43234ec2.39058"]]},{"id":"5eaa0171.aea6c8","type":"change","z":"9129215f.38dd","name":"Purple Color - Analytical","rules":[{"t":"set","p":"payload","pt":"msg","to":"purple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":2800,"wires":[["43234ec2.39058"]]},{"id":"ef978f4f.e57c2","type":"change","z":"9129215f.38dd","name":"Orange Color - Disgust","rules":[{"t":"set","p":"payload","pt":"msg","to":"orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":2760,"wires":[["43234ec2.39058"]]},{"id":"34ef68fd.a623c","type":"delay","z":"9129215f.38dd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1660,"y":520,"wires":[["d9b3ff31.17fbc"]]},{"id":"f482dc63.5cd8d","type":"delay","z":"9129215f.38dd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1560,"y":380,"wires":[["8eadef12.90db6"]]},{"id":"9a20bfff.db8d1","type":"ui_group","z":"","name":"Visual Analysis","tab":"7d0475d.5aca38c","order":2,"disp":true,"width":"10"},{"id":"ce827618.aeec88","type":"ui_group","z":"","name":"Conversation","tab":"7d0475d.5aca38c","order":4,"disp":true,"width":"8"},{"id":"732f27e6.1a9148","type":"ui_group","z":"","name":"Social","tab":"7d0475d.5aca38c","order":3,"disp":true,"width":"8","collapse":false},{"id":"1e120a6d.6f2d76","type":"ui_group","z":"","name":"Watson Visual Recognition","tab":"7d0475d.5aca38c","order":1,"disp":true,"width":"12","collapse":false},{"id":"7d0475d.5aca38c","type":"ui_tab","z":"","name":"TJBot","icon":"dashboard","order":2}]